# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local data
*.log
.DS_Store

# Tools
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Misc
.env
.env.*
